:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--cream);
  color: var(--dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.row {
  max-width: 480px;
  min-height: 348px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.col {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.perfume-img {
  width: 100%;
}

.content {
  background-color: var(--white);
  padding: 24px;
  max-height: 360px;
}
.sub-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.title {
  margin: 15px 0;
  line-height: 1;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.875rem;
  color: var(--very-dark-blue);
}

.desc {
  margin-bottom: 20px;
  line-height: 1.6;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.new-price {
  color: var(--dark-cyan);
  font-weight: 700;
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  margin-right: 15px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  min-width: 184px;
  margin-top: 20px;
  background-color: var(--dark-cyan);
  border-radius: 10px;
  color: var(--white);
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  background-color: hsl(157, 35%, 16%);
}
.button-text {
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 10px;
}
.icon {
  max-height: 16px;
}
.attribution {
  color: var(--dark-grayish-blue);
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .row {
    flex-direction: column;
    margin: 20px 15px;
  }
  .attribution {
    display: none;
  }
}
